name: ML CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Deploy & Run on Fedora VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 2222
        script: |
                set -e
                cd /opt/ml-project

                # Fix Git safe directory
                git config --global --add safe.directory /opt/ml-project
                git pull origin main

                # Activate venv
                source venv/bin/activate

                # Install new dependencies if any
                pip check >/dev/null 2>&1 || pip install -r requirements.txt

                # Run inference
                python yolo_inference.py > inference.log 2>&1
